@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Church Movies - Movie Details";
}
<div class="centered-container">
    <h1>Church Movies Details</h1>
    <p>Detail page for church movies. You can check the details.</p>

    <div>
        <h4>Movie</h4>
    </div>
    <hr />
    <div class="table-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                    <td>@Html.DisplayFor(model => model.ReleaseDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Genre)</th>
                    <td>@Html.DisplayFor(model => model.Genre)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Rating)</th>
                    <td>@Html.DisplayFor(model => model.Rating)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.ImageName))
                        {
                            <img src="~/@Model.ImageName" alt="Movie Image" style="width: 250px; height: 220px;" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="centered-container">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="oval-button">Edit</a> |
    <a asp-action="Index" class="oval-button">Back to List</a>
</div>
